.main-header {
    height: 80px;
    background-color: $gray-dark;
    width: 100vw;
    @include flex(row, center, center);
}

.main-header-elements {
    width: 90vw;
    @include flex(row, center, space-between);
}

.placeholder-logo {
    height: 40px;
    width: 150px;
    background-color: $gray-light;
}

.add-note-button {
    height: 40px;
    width: 150px;
    border-radius: 3px;
    background-color: $blue-dark;
    border-color: $blue-dark;
    color: $white;
    @include transition-ease(all);
    @include flex(row, center, center);
}

.button-text {
    font-size: $button;
    font-weight: 100;
    color: $white;
}

.add-note-button:hover {
    background-color: $blue-lightest;
    border-color: $blue-lightest;
}

.add-note-button-icon {
    color: $white;
    font-size: $subtitle;
    margin-right: 5px;
}